/* Write your CSS code here */
.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.contact-heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 50px;
}
